@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Titulo</title>
</head>
<body>
    @if(ViewBag.Titulo.Contains("Home"))
     {
        <h1>@ViewBag.Titulo</h1>
     }
    <div>
        <h1>@ViewBag.Titulo</h1>
        
    </div>
</body>
</html>
