@model FirstProjectInMVC.Models.HomeIndexModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.TituloDaPagina</title>
</head>
<body>
    <h1>@Model.DataAtual</h1>
</body>
</html>
