@page
@model RazorStudy.Pages.defaultModel
@{
    string titulo = "Titulo em ASP";
    string paragrafo = "Texto do ASP";
}
<!DOCTYPE html>
<html>
    <head>
        <title>@titulo</title>
    </head>
    <body>
        <p>@paragrafo</p>
        <p>@paragrafo</p>
    </body>
</html>
